.h1-text {
    color: var(--e-global-color-accent);
    animation: color-animation 3s linear infinite;
}

@keyframes color-animation {
    0%    {color: var(--e-global-color-accent)}
    32%   {color: var(--e-global-color-accent)}
    33%   {color: var(--e-global-color-secondary)}
    65%   {color: var(--e-global-color-hover)}
    66%   {color: var(--e-global-color-text)}
}

.star {
    animation: star 10s ease-out infinite;
}

/* Keyframes */
@keyframes star {
    0% {
        opacity: 0;
        transform: scale(1.5) translateY(-0.75em);
    }
    20% {
        opacity: 1;
    }
    89% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: translateZ(-1000em);
    }
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}
