@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,600&display=swap');

body {
    font-family: 'Titillium Web', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size:70px;
    line-height:70px;
    font-weight:700;
    word-spacing: 0px;
    letter-spacing: 0px;
  }
  
  h2 {
    font-size:52px;
    line-height: 56px;
    font-weight: 700;
  }
  h3 {
    font-size: 40px;
    line-height: 46px;
    font-weight: 600;
  }
  
  h4 { 
    font-size: 36px;
    line-height: 38px;
    font-weight: 600;
  }
  h5 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
  }
  
  h6 {
    font-size: 20px;
    line-height: 18px;
    font-weight: 400;
  }
  
  p {
    font-size: 18px;
    line-height:26px;
    font-weight: 400;
  }
  
  a {
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
  }
  