:root {
    --e-global-color-primary: #242b44;
    --e-global-color-secondary: #ffffff;
    --e-global-color-accent: #4aa5f0;
    --e-global-color-text: #afb6d2;
    --e-global-color-hover: #d88730;
    --e-global-color-dark-blue: #292a5c;
    --e-global-color-yellow:#fdde47;
    --e-global-color-dark-blue2: #393a7f;
    --e-global-color-very-dark-blue: #262754;
    --e-global-color-soft-blue: #46479b;
    --e-global-color-dark-blue3:#202046;
    --e-global-color-blue-f:#333471;
    --e-global-color-dark-bluish:#191A38;
    --e-global-color-blue-best:#13132a;
    --e-global-color-bar: #191A38;
  }
  